<!doctype html>
<html>
<head>
<meta charset="utf-8">

<title>WEBSITE</title>
<link href="content.css" rel="stylesheet" type="text/css">
<script src="Slider.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body onLoad="photoA()">

<div class="header">
<img src="logo.png" height="300px" width="400px" style="position:relative; bottom:55px">
</div>



<div class="container">
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="padding-top:1.5px">SIGN IN</button>

<div class="modal fade" id="myModal" role="dialog">
<div class="modal-dialog" >
<div class="modal-content" style="height:400px; width:420px; top:75px; left:100px ; border-style:outset ; border-radius: 10px" >

<h3 align="center"><b>Sign In To Continue</b></h3>

<h4 align="center"><font face="Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana, sans-serif"><b>
Username</b>
</font>
<br>
<input type="text" name="username" size="40">
</h4>
<h4 align="center"><font face="Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana, sans-serif"><b>Password</b></font>
<br>
<input type="text" name="username" size="40">
</h4>

<a href="Profile Page.html"><button1>Log In</button1></a>

<br>
<br>
<br>

<h3 align="center"><font face="Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana, sans-serif"><b>Not Registered Yet ?</b></font></h3>
<br>
<br>

<a href="Personal Info 1.html" target="_parent"><button2>Sign Up as an Individual</button2></a>
<a href="Company Info 1.html" target="_parent"><button3>Sign Up as a Company</button3></a>



</div>
</div>
</div>  
</div>

<div id="slider">
<img src="Images/img1.jpg" id="image" >
<div class="left_hold"><img onClick="photo(-1)" class="left" src="arrow-left.jpg"></div>
<div class="right_hold"><img onClick="photo(1)" class="right" src="arrow-right.jpg"></div>
</div>

<div class="section2">
<br>
<h2><b>What are people saying about our company?
</b>
</h2>
<p><font face="Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif" color="#373636" size="+1" style="font-weight:500"><i>"Our Company has been AWESOME. 
<br>Fantastic job and huge thanks. 
<br>Our site was featured on 
<a1 class="specialeffects"><a href="#">TechCrunch</a></a1> and <a1 class="specialeffects"><a href="#">Time</a></a1>!"
</i>
<br>
<br>

- Mike Pacifico
</font>
</p>
<p><font face="Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif" color="#373636" size="+1" style="font-weight:500">
<i>"Our Company is rapidly evolving as an amazing
<br> tool for building and managing communities."
</i>

<br>
<br>

- Brad Feld, <a1 class="specialeffects"><a href="#">feld.com</a></a1>
</font>
</p>

<p><font face="Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif" color="#373636" size="+1" style="font-weight:500">
<i>"Our Company is the platform that allows anyone<br> with a little or a lot of technical experience to have  
<br> a social network at a low cost."
</i>

<br>
<br>

- Iain Grae,<a1 class="specialeffects"><a href="#">realmotocross.com</a></a1>
</font>
</p>

</div>

<div class="section3">
<br>
<p><a href="#"><img src="Main Page Images/pando-daily.jpg" height="100" width="125" alt="1"></a></p>
<p><a href="#"><img src="Main Page Images/Tech Cocktail.png" height="100" width="125" alt="2"></a></p>
<p><a href="#"><img src="Main Page Images/Read_Write_Web_Logo.svg.png" height="100" width="125" alt="3"></a></p>
<p><a href="#"><img src="Main Page Images/logo-socaltech-dcf2edcdc0298c7de67766b094c69730.png" height="100" width="125" alt="4"></a></p>
<p><a href="#"><img src="Main Page Images/LA Journal.png" height="100" width="125" alt="5"></a></p>
<p><a href="#"><img src="Main Page Images/Betakit-logo-02.png" height="100" width="125" alt="6"></a></p>

</div>

<div class="section4">
<br>
<br>
<button4>
Try Our Company Free For 14 Days
</button4>

</div>


<div id="footer">
<p>
<font color="#C7C7C7" face="Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif" style="opacity:0.3" size="2">
© 2007 - 2015 Webligo
</font>
<br>
<br>
<a href="#">
<img src="Main Page Images/Tech stars.png" style="opacity:0.1" height="70" width="150" >
</a>
</p>

<p>
<font color="#F9F9F9" face="Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif">
Free Trials
</font>
<br>
<br>
<font color="#9F9F9F" face="Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif" size="2">
<a2 class="specialeffects">
SE Cloud free trial
</a2>
<br>
<br>
<a2 class="specialeffects">
SE PHP free trial
</a2>
</font>
</p>


<p>
<font color="#F9F9F9" face="Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif">
Company
</font>
<br>
<br>
<font color="#9F9F9F" face="Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif" size="2">
<a2 class="specialeffects">
Contact us
</a2>
<br>
<br>
<a2 class="specialeffects">
Affiliate program
</a2>
<br>
<br>
<a2 class="specialeffects">
Reseller program
</a2>
<br>
<br>
<a2 class="specialeffects">
Meet our team
</a2>
<br>
<br>
<a2 class="specialeffects">
Jobs
</a2>
<br>
<br>
<a2 class="specialeffects">
Terms and Privacy
</a2>
</font>
</p>


<p>
<font color="#F9F9F9" face="Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif">
Resources
</font>
<br>
<br>
<font color="#9F9F9F" face="Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif" size="2">
<a2 class="specialeffects">
Sign In
</a2>
<br>
<br>
<a2 class="specialeffects">
Pricing
</a2>
<br>
<br>
<a2 class="specialeffects">
Add-on marketplace
</a2>
<br>
<br>
<a2 class="specialeffects">
Support & FAQ
</a2>
<br>
<br>
<a2 class="specialeffects">
Find developers
</a2>
<br>
<br>
<a2 class="specialeffects">
Our Company PHP 4.9 Roadmap 
</a2>
</font>
</p>

<p>
<font color="#F9F9F9" face="Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif">
Articles
</font>
<br>
<br>
<font color="#9F9F9F" face="Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif" size="2">
<a2 class="specialeffects">
How to build a social network
</a2>
<br>
<br>
<a2 class="specialeffects">
Building an online community
</a2>
<br>
<br>
<a2 class="specialeffects">
How to reach your audience
</a2>
<br>
<br>
<a2 class="specialeffects">
Video tutorials
</a2>
<br>
<br>
<a2 class="specialeffects">
Creating Custom Themes
</a2>
</font>
</p>

<p>
<font color="#F9F9F9" face="Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif">
Connect with us!
</font>
<br>
<br>
<font color="#9F9F9F" face="Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif" size="2">
<a2 class="specialeffects">
Blog
</a2>
<br>
<br>
<a2 class="specialeffects">
Twitter
</a2>
<br>
<br>
<a2 class="specialeffects">
Facebook
</a2>
<br>
<br>
<a2 class="specialeffects">
Youtube
</a2>
<br>
<br>
<a2 class="specialeffects">
Google Plus 
</a2>
<br>
<br>
<a2 class="specialeffects">
Newsletter
</a2>
</font>

</p>
</div>

</body>
</html>
