@charset "utf-8";
/* CSS Document */
.header
{
	 background-color:black;
        float: right;
        height: 80px;
        left: 0;
		top:0;
		overflow:hidden;
        position:absolute;
        width: 100%;
		min-width:1200px;
		opacity:0.95;
		align-content:center;
}

.background
{
	top:80px;
	height:670px;
background-image:url(triangular.png);
}


.img
{
	height:100px;
	width:900px;
	position:absolute;
	left:200px;
}

.img {
   -webkit-animation: move 0.5s ;
    animation: move 0.5s ;   
   
}

@-webkit-keyframes move {
        from {left: 0px;}
    to {left: 200px;}
}

.img1
{
position:absolute;
top:10px;
left:20px;
}


.img2
{
position:absolute;
top:10px;
left:400px;
}


.img3
{
position:absolute;
top:10px;
left:800px;
}


.interest
{
position:absolute;
top:250px;
left:585px;
height:20px;
width:100px;
}

.interest {
   -webkit-animation: move1 0.5s ;
    animation: move1 0.5s ;   
   
}

@-webkit-keyframes move1 {
        from {left: 0px;}
    to {left: 585px;}
}

.button1
{
border-color:#000000;
background:#08A3D2;
box-shadow: 0 3px 0 #006599;
border-radius:10px;
color: #fff;
cursor: pointer;
font: inherit;
margin: 0;
outline: 0 ;
padding: 10px 30px;
transition: all .1s linear;
font-family: Arial;
overflow: hidden;
position:absolute;
top:400px;
left:590px;
}

.button1:active 
{
  box-shadow: 0 0 0 #006599;
  transform: translateY(3px);
}

#footer
{
background-color:#000000;
        float: right;
        height: 330px;
        left: 0;
		overflow: hidden;
        position: absolute;
        width: 100%;
		opacity:0.9;
		text-align:left;
		top:485px;
		bottom:0;
		min-width:1200px;
}

#footer p 
{
    box-sizing: border-box;
    float: left;
    padding: 1em;
    width: 16.666%;
}

a, u 
{
    text-decoration: none;
	color: inherit;
}

a2 
{
    text-decoration: none;
	color: inherit;
}

a2.specialeffects:hover
 {
  color:#FFFFFF;
  text-decoration:none;
  cursor:pointer;
}





