<!doctype html>

<html>
<head>
<link rel="stylesheet" type="text/css" href="Profile.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>

<script type="text/javascript">
 var divs = ["combine", "Product-content" ];
    var visibleDivId = null;
    function divVisibility(divId) {
      if(visibleDivId === divId) {
        visibleDivId = null;
      } else {
        visibleDivId = divId;
      }
      hideNonVisibleDivs();
    }
    function hideNonVisibleDivs() {
      var i, divId, div;
      for(i = 0; i < divs.length; i++) {
        divId = divs[i];
        div = document.getElementById(divId);
        if(visibleDivId === divId) {
          div.style.display = "block";
        } else {
          div.style.display = "none";
        }
      }
    }
</script>

<style type="text/css">
	.bs-example{
    	margin: 20px;
    }
    hr{
        margin: 60px 0;
    }
</style>

<meta charset="utf-8">
<title>Profile Page</title>
</head>

<body background="background.jpg" style="opacity:0.9">

<div class="header">
<a href="Index Page.html">
<img src="logo.png" height="300px" width="400px" style="position:relative; bottom:55px">
</a>
</div>

<form id="form1" action="">
<input type="search" size="35">
<input type="submit" value="Search" style="background-color:#1088CB;color:#FFFFFF;border-radius:2px"></form>

<div class="bs-example">
<ul class="nav nav-pills">
<li class="dropdown pull-right">
<a href="#" data-toggle="dropdown" class="dropdown-toggle" style="background-color:#1088CB;color:#FFFFFF">
Account<b class="caret">
</b>
</a>
<ul class="dropdown-menu">
<li><a href="#">Edit Profile</a></li>
<li><a href="#">Settings</a></li>
<li><a href="#">Activity Log</a></li>

<li class="divider"></li>
<li><a href="Index Page.html">Log Out</a></li>
</ul>
</li>
</ul>
</div>


<div id="side">
<a href="Profile Page.html">
<img src="profile pic.jpg" height="100" id="img">
</a>
<p align="left" id="paragraph">
<font face="Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana, sans-serif" size="+2">
<a href="#" style="text-decoration:none"><a0>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NAME</a0></a>
</font>
<br>
<br>
</p>

<div class="container">
<a href="#" onclick="divVisibility('combine');">
<button type="button" class="btn btn-info btn-lg" style="padding-top:1.5px; background:#1D1D1D ; border:none">
Connections
</button>
</a>
</div>

<button class="button_unfriend">
Unfriend
</button>

<div class="container1">
<a href="#" onclick="divVisibility('Product-content');">
<button type="button" class="btn btn-info btn-lg" style="background:#1D1D1D;border:none; padding-top:2.5px; top:330px">
Products
</button>
</a>
</div>

</div>


<div id="combine" style="display:block">

<div id="Network-content" >
<h3 align="center"><b>NETWORKS</b></h3>
<ul class="ulstyle">
<li class="ulstyle_li">
<div class="img_name"><img class="img" src="profile pic.jpg"><br>NAME</div>
<div class="img_name"><img class="img" src="profile pic.jpg"><br>NAME</div>
<div class="img_name"><img class="img" src="profile pic.jpg"><br>NAME</div>
<div class="img_name"><img class="img" src="profile pic.jpg"><br>NAME</div>
<div class="img_name"><img class="img" src="profile pic.jpg"><br>NAME</div>
<div class="img_name"><img class="img" src="profile pic.jpg"><br>NAME</div>
<div class="img_name"><img class="img" src="profile pic.jpg"><br>NAME</div>
<div class="img_name"><img class="img" src="profile pic.jpg"><br>NAME</div>
</li>
</ul>
</div>

<div id="Company-content">
<h3 align="center"><b>COMPANIES</b></h3>
<ul class="ulstyle">
<li class="ulstyle_li">
<div class="img_name"><img class="img" src="company profile.jpg"><br>NAME</div>
<div class="img_name"><img class="img" src="company profile.jpg"><br>NAME</div>
<div class="img_name"><img class="img" src="company profile.jpg"><br>NAME</div>
<div class="img_name"><img class="img" src="company profile.jpg"><br>NAME</div>
<div class="img_name"><img class="img" src="company profile.jpg"><br>NAME</div>
<div class="img_name"><img class="img" src="company profile.jpg"><br>NAME</div>
<div class="img_name"><img class="img" src="company profile.jpg"><br>NAME</div>
<div class="img_name"><img class="img" src="company profile.jpg"><br>NAME</div>
</li>
</ul>
</div>
</div>

<div id="Product-content" style="display:none">
<h3 align="center"><b>PRODUCTS</b></h3>
</div>

 

<div id="side1">
<p id="paragraph1">
<font face="Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif" size="+1"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Recent Activity
</b>
</font>
</p>
<a href="#">
<img src="profile pic.jpg" id="img1" height="30px" width="30px"></a>&nbsp;&nbsp;&nbsp;
<p id="paragraph2">
<a href ="#"><a1>Gaurav Tomar</a1></a> just joined the community.
<br>
<font size="-1">- <a href ="#"><a2>date</a2></a>
</font>
</p>
</div>

<div id="side2">
<p id="paragraph3">
<font face="Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif" size="+1"><b>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Lists
</b>
</font>
</p>
<div class="box2"><font size="-1">This member has not created any lists yet.</font>
</div>
</div>

<div id="footer">
<p>
<font color="#C7C7C7" face="Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif" style="opacity:0.3" size="2">
© 2007 - 2015 Webligo
</font><br><br>
<a href="#">
<img src="Main Page Images/Tech stars.png" style="opacity:0.1" height="70" width="150" >
</a>
</p>

<p>
<font color="#F9F9F9" face="Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif">
Free Trials
</font><br><br>
<font color="#9F9F9F" face="Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif" size="2">
<a2 class="specialeffects">
SE Cloud free trial
</a2><br><br>
<a2 class="specialeffects" >
SE PHP free trial
</a2>
</font>
</p>

<p>
<font color="#F9F9F9" face="Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif">
Company
</font><br><br>
<font color="#9F9F9F" face="Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif" size="2">
<a2 class="specialeffects">
Contact us
</a2><br><br>
<a2 class="specialeffects">
Affiliate program
</a2><br><br>
<a2 class="specialeffects">
Reseller program
</a2><br><br>
<a2 class="specialeffects">
Meet our team
</a2><br><br>
<a2 class="specialeffects">
Jobs
</a2><br><br>
<a2 class="specialeffects">
Terms and Privacy
</a2>
</font>
</p>

<p>
<font color="#F9F9F9" face="Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif">
Resources
</font><br><br>
<font color="#9F9F9F" face="Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif" size="2">
<a2 class="specialeffects">
Sign In
</a2><br><br>
<a2 class="specialeffects">
Pricing
</a2><br><br>
<a2 class="specialeffects">
Add-on marketplace
</a2><br><br>
<a2 class="specialeffects">
Support & FAQ
</a2><br><br>
<a2 class="specialeffects">
Find developers
</a2><br><br>
<a2 class="specialeffects">
Our Company PHP 4.9 Roadmap 
</a2>
</font>
</p>

<p>
<font color="#F9F9F9" face="Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif">
Articles
</font><br><br>
<font color="#9F9F9F" face="Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif" size="2">
<a2 class="specialeffects">
How to build a social network
</a2><br><br>
<a2 class="specialeffects">
Building an online community
</a2><br><br>
<a2 class="specialeffects">
How to reach your audience
</a2><br><br>
<a2 class="specialeffects">
Video tutorials
</a2><br><br>
<a2 class="specialeffects">
Creating Custom Themes
</a2>
</font>
</p>

<p>
<font color="#F9F9F9" face="Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif">
Connect with us!
</font><br><br>
<font color="#9F9F9F" face="Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana, sans-serif" size="2">
<a2 class="specialeffects">
Blog
</a2><br><br>
<a2 class="specialeffects">
Twitter
</a2><br><br>
<a2 class="specialeffects">
Facebook
</a2><br><br>
<a2 class="specialeffects">
Youtube
</a2><br><br>
<a2 class="specialeffects">
Google Plus 
</a2><br><br>
<a2 class="specialeffects">
Newsletter
</a2>
</font>

</p>
</div>
</body>

</html>
